@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

/*=========================== null style ============================*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*=========================== null style ============================*/

body {
  font-family: 'Inter', sans-serif;
  letter-spacing: -0.04em;
}

header {
  display: flex;
  height: 87px;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
  max-width: 1146px;
  margin: auto;
  padding-left: 3px;
}

header .logo {
  white-space: nowrap;
  position: relative;
  font-size: 26.4043px;
  font-weight: 700;
}

header .logo::after {
  content: "";
  display: inline-block;
  position: relative;
  background: #2945FF;
  height: 4px;
  width: 14px;
  left: 4.38px;
  bottom: 0px;
}

nav a {
  display: inline-block;
  padding: 10px 20px;
  font-size: 15px;
  color: #000000;
}

nav a.frame {
  padding: 14px 24px;
  background: #2945FF;
  border-radius: 22px;
  color: #FFFFFF;
  margin-left: 20px;
  font-weight: 400;
}

#Hero-Componet {
  display: flex;
  position: relative;
  margin: 38px auto 0;
  padding-left: 23px;
  max-width: 1192px;
  justify-content: space-between;
}

#Hero-Componet .text{
  position: relative;
  height: fit-content;
  top: 85px;
}

#Hero-Componet h1 {
  max-width: 380px;
  font-weight: 600;
  font-size: 68px;
  line-height: 111%;
  margin-bottom: 37.56px;
  color: #000545;
}

#Hero-Componet .description {
  max-width: 443px;
  font-size: 18px;
  line-height: 30px;
  color: #393F4D;
}

#Hero-Componet img {
  display: block;
  margin: 38px 26px 0 0;
}

#Hero-Componet img:after {
  content: "sdfsdfds";
  display: inline-block;
  height: 1000px;
  width: 1000px;
  background-color: #000000;
}
